footer {
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 25px 25px 10px;
    display: table;
    width: 100%;
    background: $main_color url('/img/logo.png') no-repeat;
    background-position: 98% 20px;
    height: 175px;

    .about {
        padding-right: 210px;

        p {
            margin-bottom: 15px;
        }

        img.pay-methods {
            margin-left: 15px;
            width: 115px;
            vertical-align: middle;
        }
    }
}

// для серой темы
.theme-2 footer {
    background-color: $second_color;
    background-image: url('/img/logo_2.png');
    color: #414141;


}
