footer
    div.about
        p 
            |© 2015 Доставка японской кухни и пиццы в Екатеринбурге
        p 
            |ООО "Высший вкус", 620085, г. Екатеринбург, ул. Титова д.1
            |ОГРН 1086658035738 ИНН 6658333472 КПП 665801001
        p
            | Принимаем к оплате:
            img.pay-methods(src="/img/pay_methods.png")
