.side-menu
    .logo
        img(src="/img/logo.png", alt="")
    ul.menu-items
        li 
            a(href="") Доставка и оплата
                
        li 
            a(href="") Отзывы о сытом самурае
                
        li 
            a(href="") Горячая линия качества
                
        li 
            a(href="") Санитарная безопасность
                
    ul.menu-items
        li 
            a(href="") Акции
                
        li 
            a(href="" data-modal="signin") Личный кабинет
                
        li 
            a(href="" data-modal="signup") Регистрация
