extends ./includes/main.pug

block title
	title Сытый самурай

block append head_scripts
	script(src='./js/all.js')

block content
	section.text-content.flamp
		.content
			p 
				| Мы регулярно проводим акции и готовим спецпредложения для наших клиентов. <br>
				| Будьте в курсе последних событий!
	
			.stock-item
				h1.colored.cc
					| Акция "Счастливые Часы". Мы дарим Вам целую
					| порцию роллов на каждые 350 руб в сумме заказа.
				a.und(href="#") Подробнее »
			
			.stock-item
				h1.colored.cc
					| Акция "Сытый Самурай". Мы дарим Вам 2 целых
					| порции роллов при сумме заказа от 1000 руб.
				a.und(href="#") Подробнее »

			.stock-item
				h1.colored
					| Оставь отзыв — получи бонус!
				p
					| Уважаемые клиенты! Нам очень важно знать ваше мнение о нас и о нашей
					| работе, поэтому будем благодарны, если вы поделитесь им при помощи
					| Flamp.ru.
				p
					| Будем рады видеть любые оценки: как положительные, так и отрицательные с
					| пожеланиями и замечаниями, так как это поможет увидеть и учесть недостатки
					| нашей работы.
				p
					| Ну а чтобы совместить полезное с приятным, с 22 декабря 2014г. запускаем
					| акцию «Оставь отзыв — получи бонус».Мы будем рады подарить вам 200
					| бонусных баллов (рублей) на вашу виртуальную карту за очень подробный и
					| честный отзыв. Для участия в акции необходимо опубликовать отзыв и
					| прислать на электронный адрес otzyv@ssamurai.ru:
				ul.list.dc
					li Текст отзыва;
					li Информацию о вашем заказе: номер и дату;
					li Номер вашей виртуальной карты, он же номер мобильного, который указан в этом заказе.
				p
					| По истечении каждого календарного дня двум клиентам, чьи отзывы окажутся
					| самыми подробными, будет подарено по 200 бонусных баллов (рублей).
					| Каждые пользователь на Flamp.ru и (или) бонусная карта могут участвовать в
					| акции только один раз. Начисление бонусов будет происходить в течении 3-х
					| календарных дней.
		
				.flamp-wrap
					.title
						span.text Отзывы о нас на Флампе
						span.rating.star5 723
					
					.items
						each i in [1,2,3]
							.item
								.img-wrap
									.avatar
										img(src="/img/flamp_ava.png", alt="")
										span.rating.star5
								.text
									.name 
										a.link(href="") Elizabet Arnikova
										.crone 23,3
									.desc
										| Очень люблю ваши роллы. Но сегодня хочу отзыв оставить 
										| о работе Вашего сайта. Пыталась оформить заказ на сайте -
										| не получилось. 1....  
										a.link(href="") Читать целиком →
					.more
						a.link.extend(href="#") Читать все отзывы (723)
			.stock-item
				h1.colored Виртуальные карты со скидкой 10%
				p
					| Для наших постоянных и новых клиентов теперь действует новое предложение
					| — Виртуальная карта со скидкой 10%. Эта карта закрепляется за клиентом,
					| оформившим хотя бы один заказ с 26 марта 2014 г.
					| Номером виртуальной карты является сотовый номер клиента. Это сделано
					| для удобства клиента, чтобы идентифицировать его не по предъявлению
					| карты при получении заказа, а при входящем вызове. Если вдруг баланс
					| вашего номера не позволяет совершить исходящий вызов, у нас на сайте
					| появилась новая услуга: Перезвоните мне. Мы вам звоним на указанный
					| номер и идентифицируем вас.
				p
					| Данная карта предоставляет скидку по накопительной системе: начисляются
					| 10% от суммы заказа.
				p
					| Накопленной на карте суммой можно рассчитаться в любой момент,
					| использовав ее полностью или частично.
				p
					| На Бизнес-ланчи и заказы по акции бонусы не начисляются и не списываются.
					
			.stock-item
				h1.colored Новая акция: Счастливые Часы
				p
					| Мы дарим Вам целую порцию роллов на каждые 350 руб в сумме заказа.
				a.und(href="") Подробнее »
