extends ./includes/main.pug

block title
	title Сытый самурай

block append head_scripts
	script(src='./js/all.js')

block content
	section.text-content
		.content
			h1 Условия доставки суши и пиццы

			p
				b Японская кухня: 
				| минимальная сумма заказа 600 рублей (напитки не входят в
				| минимальную сумму заказа). Доставка в близлежащие районы города
				| бесплатно*. Так же вы можете скомбинировать ваш заказ (то есть заказать
				| японскую кухню и пиццу).
			p
				b Пицца: 
				| в зависимости от суммы и района заказа стоимость доставки
				| составляет от 0 до 200 рублей*. Вы можете скомбинировать ваш заказ (то есть
				| заказать пиццу и японскую кухню), в этом случае минимальная сумма заказа
				| составляет 600 рублей, доставка бесплатна*.

			p
				| Имбирь и васаби кладутся в заказ из расчета 10 и 5 грамм соответственно на
				| одну порцию роллов (8 штук). Соевый соус по количеству приборов.

			p
				| Оформить заказ можно с 10:00 до 23:45 с воскресенья по четверг и с 10:00 до
				| 1:45 в пятницу и субботу. Время ожидания уточняйте у оператора.

			h1 Оплата
			p 
				img(src="/img/pay_methods.png", alt="VISA, MASTERCARD")
			p
				| Оплатить заказ можно при получении двумя способами на Ваш выбор:
				ul.list 
					li наличными;
					li 
						| картами Visa/MasterCard (пожалуйста сообщайте оператору, чтобы курьер
						| взял терминал).

			p * Уточняйте у оператора.
