extends ./includes/main.pug

block title
	title Сытый самурай

block append head_scripts
	script(src='./js/all.js')

block content
	section.text-content
		.content
			h1 Возникли предложения, рекомендации, жалобы о нашей работе?

			p 
				| Звоните по телефону Горячей Линии 8 (922) 141-78-47 с 12:00 до 22:00 или
				| пишите на электронную почту 
				b
					u info@ssamurai.ru

			p Заказы принимаются только по телефону (343) 237-222-7
