extends ./includes/main.pug

block title
	title Сытый самурай

block append head_scripts
	script(src='./js/all.js')

block content
	section.text-content
		.content
			p Мы всегда следим за качеством нашей еды.

			h1 1. Наши производственные цеха

			p
				| На предприятии обеспечено большое количество цехов для раздельного
				| хранения и обработки всех видов сырой и готовой продукции, составлен
				| строгий график обработки помещений с высоким уровнем стерилизации.
				| На производстве установлено новое бактерицидное оборудование:
				| облучатели-рециркуляторы воздуха, бактерицидные лампы для
				| обеззараживания рабочих поверхностей, стерилизаторы ножей и воды.

			p Вот как это выглядит:
			
			- var n = 1 
			while n < 5
				img(src="/img/san"+(n++)+".png", alt="")

			h1 2. Наш санитарный врач
			p
				| В штат был принят санитарный врач с опытом работы в Роспотребнадзоре и
				| многолетней практикой в области предупреждения пищевых отравлений
				| Языкова Татьяна Владимировна. Каждое утро она проводит медосмотр
				| сотрудников, регулярно проверяет санитарные книжки работников, следит за
				| соблюдением санитарных норм на производстве.
				
			h1 3. Наша продукция
			p
				| На предприятии совместно с «Уральским центром экспертизы услуг» и
				| Роспотребнадзором были разработаны специальные техусловия на отпуск
				| продукции. С целью повышения безопасности при транспортировке и 
				| исключения взаимодействия с внешней средой закуплено новое оборудование 
				| для упаковки боксов с готовой продукцией в герметичную плёнку.
				
			- var values = ['первый', 'второй', 'третий', 'четвертый', 'пятый', 'шестой', 'седьмой', 'восьмой']
			h1 4. Наш контроль
			p
				| На предприятии разработана специальная Программа производственного 
				| контроля, в соответствие с которой заключен договор с отделом 
				| Роспотребнадзора, по которому регулярно отбираются пробы продукции и 
				| смывы с оборудования.
				| Копии протоколов испытаний:  
				
				each val in values
					a.link(href="#")= val
					| , 
				
			h1 5. Наши поставщики
			p
				| Нами заключены договоры с лучшими в регионе поставщиками. Они 
				| гарантируют поступление самых свежих продуктов с соответствующими 
				| сертификатами и справками, что является залогом безопасности и качества 
				| готового блюда.
